<section class="ui raised segment">
    <div class="ui grid">
        <article class="sixteen wide column">
            {{#if micros}}
                {{#each micros}}
                    <div class="ui cards">
                        <div class="card" style="width: 100%">
                            <div class="content">
                                <a href="/timeline/{{poster._id}}">
                                    <img class="right floated ui tiny circular image" src="{{poster.gravatarUrl}}?s=200">
                                </a>
                                <a href="/profile/{{poster.email}}">
                                    <div class="header">{{poster.firstName}} {{poster.lastName}}</div>
                                </a>
                                <div class="meta">{{time}} <a style="color: red" href="/delete/{{id}}">Delete?</a></div>
                                <div class="description">{{text}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <h3 style="color: red">
                    There are no micros on your news feed! Follow someone to see some micros in your personal feed!
                </h3>
            {{/if}}
        </article>
    </div>
</section>